################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADETQ3_JOHNDEILBERNARD_BASILAN/WebApplication1/bin/Debug/netcoreapp3.1
/ADETQ3_JOHNDEILBERNARD_BASILAN/WebApplication1/obj
